<section class=" section about-us-section" id="about-us-section">
    <div class="container about-us-container">
        <h2 class="about-us-title">About <span class="about-us-accent">Us</span></h2>

        <div class="about-us-box-desktop">
            <picture>
                <source srcset="../img/about-us/camera-lens-1440.jpg 1x, ../img/about-us/camera-lens-1440.jpg 2x"
                    media="(min-width: 1440px)">
                <source srcset="../img/about-us/camera-lens-1280.jpg 1x, ../img/about-us/camera-lens-1280.jpg 2x"
                    media="(min-width: 1280px)">
                <source srcset="../img/about-us/camera-lens-tab.jpg 1x, ../img/about-us/camera-lens-tab.jpg 2x"
                    media="(min-width: 768px)">
                <source srcset="../img/about-us/camera-lens-mob.jpg 1x, ../img/about-us/camera-lens-mob.jpg 2x" media="(min-width: 375px)">     
                <img class="about-us-img" src="../img/about-us/camera-lens-mob.jpg" alt="camera lens"
                width="335" height="209">    
            </picture> 
            
            <div class="about-us-text-box">
                <p class="text about-us-text">Our photography school is designed to teach you everything you need to know about this magical art. Regardless of your
                experience or skill level, we offer a wide range of courses to suit your needs and interests. Our teaching team consists
                of experienced photographers who have many years of experience in this field. They strive not only to share their
                knowledge, but also to inspire you to develop and express your unique creativity.</p>
                <p class="text about-us-text">Our courses cover a wide range of topics, from the basics of photography and equipment use to professional image
                processing and creating impressive compositions. You will have the opportunity to learn the technical aspects of
                photography, discover your own style and develop your own visual language.</p>
            </div>

        </div>
    </div>
</section>