<section class="advertisement section" id="advertisement-section">
  <div class="advertisement-container">
    <h2 class="advertisement-title">
      <span class="advertisement-title-span">Master</span> your photography
      <span class="advertisement-title-span">skills with us!</span>
    </h2>
    <h2 class="advertisement-title visually-hidden">
      <span class="advertisement-title-span">Master</span> your photography
      <span class="advertisement-title-span">skills with us!</span>
    </h2>
  </div>
</section>
