<section class="advertisement" id="advertisement-section">
    <div class="container advertisement-container">
        <svg class="advertisement-icon">
            <use class="advertisement-icon-use" href="../img/sprite.svg#icon-stroke"></use>
        </svg>
        <h2 class="advertisement-title">Master your photography <span class="advertisement-title-span">skills with
                us!</span></h2>
        <h2 class="advertisement-title">Master your photography <span class="advertisement-title-span">skills with
                us!</span></h2>
        <svg class="advertisement-icon">
            <use class="advertisement-icon-use" href="../img/sprite.svg#icon-stroke"></use>
        </svg>
    </div>
</section>

