<header class="header">
  <div class="container">
    <div class="header-container">
      <svg class="header-text-logo" width="127" height="20">
        <use href="../img/sprite.svg#icon-header-logo-text"></use>
      </svg>

      <nav>
        <ul class="nav-list">
          <li class="header-nav-list-item header-photo-logo-cont">
            <svg class="header-photo-logo" width="16" height="16">
              <use href="../img/sprite.svg#icon-header-photo-logo"></use>
            </svg>
          </li>

          <li class="header-nav-list-item">
            <button class="header-menu-btn">
              <svg class="header-mobile-menu" width="32" height="22">
                <use href="../img/sprite.svg#icon-header-mobile-menu"></use>
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
