<section class="hero section">
  <div class="container">
    <div class="hero-container">
      <div class="hero-big-wrapper">
        <h1 class="hero-title">
          Discover the magic of <span>photography</span> in our school
        </h1>

        <p class="hero-text">
          Our photography school offers an unforgettable journey, where you can
          learn the basics of composition, master technical skills, translate
          your unique ideas.
        </p>

        <div class="hero-wrapper">
          <div class="hero-left-wrapper">
            <ul class="hero-list">
              <li class="hero-item">
                <picture>
                  <source
                    srcset="
                      ../img/hero/dsk-hd/hero-student-1-dsk-hd.png    1x,
                      ../img/hero/dsk-hd/hero-student-1-dsk-hd@2x.png 2x
                    "
                    media="(min-width:1440px)"
                    type="image/png"
                  />

                  <source
                    srcset="
                      ../img/hero/dsk/hero-student-1-dsk.png    1x,
                      ../img/hero/dsk/hero-student-1-dsk@2x.png 2x
                    "
                    media="(min-width:1280px)"
                    type="image/png"
                  />

                  <source
                    srcset="
                      ../img/hero/tab/hero-student-1-tab.png    1x,
                      ../img/hero/tab/hero-student-1-tab@2x.png 2x
                    "
                    media="(min-width:768px)"
                    type="image/png"
                  />

                  <source
                    srcset="
                      ../img/hero/mob/hero-student-1-mob.png    1x,
                      ../img/hero/mob/hero-student-1-mob@2x.png 2x
                    "
                    media="(min-width:320px)"
                    type="image/png"
                  />

                  <img
                    src="../img/hero/mob/hero-student-1-mob.png"
                    alt="A young woman turned her head to the right."
                    class="hero-list-img"
                    width="44"
                    height="44"
                  />
                </picture>
              </li>

              <li class="hero-item">
                <picture>
                  <source
                    srcset="
                      ../img/hero/dsk-hd/hero-student-2-dsk-hd.png    1x,
                      ../img/hero/dsk-hd/hero-student-2-dsk-hd@2x.png 2x
                    "
                    media="(min-width:1440px)"
                    type="image/png"
                  />

                  <source
                    srcset="
                      ../img/hero/dsk/hero-student-2-dsk.png    1x,
                      ../img/hero/dsk/hero-student-2-dsk@2x.png 2x
                    "
                    media="(min-width:1280px)"
                    type="image/png"
                  />

                  <source
                    srcset="
                      ../img/hero/tab/hero-student-2-tab.png    1x,
                      ../img/hero/tab/hero-student-2-tab@2x.png 2x
                    "
                    media="(min-width:768px)"
                    type="image/png"
                  />

                  <source
                    srcset="
                      ../img/hero/mob/hero-student-2-mob.png    1x,
                      ../img/hero/mob/hero-student-2-mob@2x.png 2x
                    "
                    media="(min-width:320px)"
                    type="image/png"
                  />

                  <img
                    src="../img/hero/mob/hero-student-2-mob.png"
                    alt="A young man is smiling."
                    class="hero-list-img"
                    width="44"
                    height="44"
                  />
                </picture>
              </li>

              <li class="hero-item">
                <picture>
                  <source
                    srcset="
                      ../img/hero/dsk-hd/hero-student-3-dsk-hd.png    1x,
                      ../img/hero/dsk-hd/hero-student-3-dsk-hd@2x.png 2x
                    "
                    media="(min-width:1440px)"
                    type="image/png"
                  />

                  <source
                    srcset="
                      ../img/hero/dsk/hero-student-3-dsk.png    1x,
                      ../img/hero/dsk/hero-student-3-dsk@2x.png 2x
                    "
                    media="(min-width:1280px)"
                    type="image/png"
                  />

                  <source
                    srcset="
                      ../img/hero/tab/hero-student-3-tab.png    1x,
                      ../img/hero/tab/hero-student-3-tab@2x.png 2x
                    "
                    media="(min-width:768px)"
                    type="image/png"
                  />

                  <source
                    srcset="
                      ../img/hero/mob/hero-student-3-mob.png    1x,
                      ../img/hero/mob/hero-student-3-mob@2x.png 2x
                    "
                    media="(min-width:320px)"
                    type="image/png"
                  />

                  <img
                    src="../img/hero/mob/hero-student-3-mob.png"
                    alt="A young woman."
                    class="hero-list-img"
                    width="44"
                    height="44"
                  />
                </picture>
              </li>
            </ul>

            <a href="#reviews-section" class="hero-left-link">
              <p class="hero-text-students">Our happy students</p>

              <svg class="hero-icon-arrow" width="18" height="8.66">
                <use href="../img/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>

          <div class="hero-right-wrapper">
            <div class="hero-icon-wrapper">
              <svg class="hero-icon-star" width="20" height="20">
                <use href="../img/sprite.svg#icon-star-empty"></use>
              </svg>
            </div>

            <div class="hero-right-subwrapper">
              <p class="hero-text-reviews">Reviews</p>

              <p class="hero-text-num">+1500</p>
            </div>
          </div>
        </div>
      </div>
      <picture>
        <source
          srcset="
            ../img/hero/dsk-hd/hero-photograph-dsk-hd.png    1x,
            ../img/hero/dsk-hd/hero-photograph-dsk-hd@2x.png 2x
          "
          media="(min-width:1440px)"
          type="image/png"
        />

        <source
          srcset="
            ../img/hero/dsk/hero-photograph-dsk.png    1x,
            ../img/hero/dsk/hero-photograph-dsk@2x.png 2x
          "
          media="(min-width:1280px)"
          type="image/png"
        />

        <source
          srcset="
            ../img/hero/tab/hero-photograph-tab.png    1x,
            ../img/hero/tab/hero-photograph-tab@2x.png 2x
          "
          media="(min-width:768px)"
          type="image/png"
        />

        <source
          srcset="
            ../img/hero/mob/hero-photograph-mob.png    1x,
            ../img/hero/mob/hero-photograph-mob@2x.png 2x
          "
          media="(min-width:320px)"
          type="image/png"
        />

        <img
          src="../img/hero/mob/hero-photograph-mob.png"
          alt="Red haired man with camera."
          class="hero-photographer-img"
          width="259"
          height="314"
        />
      </picture>
    </div>
  </div>
</section>
