<section class="hero section">
  <div class="container hero-container">
    <h1 class="header-title">
      Discover the magic of <span>photography</span> in our school
    </h1>

    <p class="header-text">
      Our photography school offers an unforgettable journey, where you can
      learn the basics of composition, master technical skills, translate your
      unique ideas.
    </p>

    <div class="header-wrapper">
      <div class="header-left-wrapper">
        <ul class="header-list">
          <li class="header-item">
            <img src="" alt="" class="header-list-img" />
          </li>
          <li class="header-item">
            <img src="" alt="" class="header-list-img" />
          </li>
          <li class="header-item">
            <img src="" alt="" class="header-list-img" />
          </li>
        </ul>

        <div class="header-left-subwrapper">
          <p class="header-text-students">Our happy students</p>

          <svg class="header-icon-arrow">
            <use></use>
          </svg>
        </div>
      </div>

      <div class="header-right-wrapper">
        <svg class="header-icon-star">
          <use></use>
        </svg>

        <p class="header-text-reviews">Reviews</p>

        <p class="header-text-num">+1500</p>
      </div>
    </div>

    <img src="" alt="" class="header-img" />
  </div>
</section>
