<section class="our-mentors-section" id="our-mentors-section">
  <div class="container our-mentors-container">
    <h2 class="our-mentors-main-title">
      Our <span class="our-mentors-title-span">Mentors</span>
    </h2>

    <ul class="our-mentors-cards-list">
      <li class="our-mentors-card">
        <img
          class="our-mentors-photo"
          src="./img/mentors/girl1.1.jpg"
          srcset="./img/mentors/girl1.1.jpg 1x, ./img/mentors/girl1.2.jpg 2x"
          alt="emilia smith"
          width="180"
        />
        <div class="our-mentors-info">
          <h3 class="our-mentors-item-title">Emilia Smith</h3>
          <p class="our-mentors-item-text">1.5 years of experience</p>
        </div>
      </li>

      <li class="our-mentors-card">
        <img
          class="our-mentors-photo"
          src="./img/mentors/boy1.1.jpg"
          srcset="./img/mentors/boy1.1.jpg 1x, ./img/mentors/boy1.2.jpg 2x"
          alt="alex lebedev"
          width="180"
        />
        <div class="our-mentors-info">
          <h3 class="our-mentors-item-title">Alex Lebedev</h3>
          <p class="our-mentors-item-text">3.5 years of experience</p>
        </div>
      </li>

      <li class="our-mentors-card">
        <img
          class="our-mentors-photo"
          src="./img/mentors/girl2.1.jpg"
          srcset="./img/mentors/girl2.1.jpg 1x, ./img/mentors/girl2.2.jpg 2x"
          alt="mia dubrovska"
          width="180"
        />
        <div class="our-mentors-info">
          <h3 class="our-mentors-item-title">Mia Dubrovska</h3>
          <p class="our-mentors-item-text">2.0 years of experience</p>
        </div>
      </li>

      <li class="our-mentors-card">
        <img
          class="our-mentors-photo"
          src="../img/mentors/boy2.1.jpg"
          srcset="../img/mentors/boy2.1.jpg 1x, ./img/mentors/boy2.2.jpg 2x"
          alt="eliot kovalev"
          width="180"
        />
        <div class="our-mentors-info">
          <h3 class="our-mentors-item-title">Eliot Kovalev</h3>
          <p class="our-mentors-item-text">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
