<section class="our-mentors-ssection">
    <div class="our-mentors-container">
        <h2 class="our-mentors-main-title">Our <span class="our-mentors-title-span">Mentors</span></h2>

        <ul class="our-mentors-cards-list">
            <li class="our-mentors-card">
                <img class="our-mentors-photo" src="./img/our-mentors/emili1.jpg"
                    srcset="./img/our-mentors/emili1.jpg 1x, .img/emili2.jpg 2x" alt="emilia smith" width="180" />
                <div class="our-mentors-info">
                    <h3 class="our-mentors-item-title">Emilia Smith</h3>
                    <p class="our-mentors-item-text">1.5 years of experience</p>
                </div>
            </li>

            <li class="our-mentors-card">
                <img class="our-mentors-photo" src="./img/our-mentors/alex1.jpg"
                    srcset="./img/our-mentors/alex1.jpg 1x, .img/our-mentors/alex2.jpg 2x" alt="alex lebedev"
                    width="180" />
                <div class="our-mentors-info">
                    <h3 class="our-mentors-item-title">Alex Lebedev</h3>
                    <p class="our-mentors-item-text">3.5 years of experience</p>
                </div>
            </li>

            <li class="our-mentors-card">
                <img class="our-mentors-photo" src="./img/our-mentors/mia1.jpg"
                    srcset="./img/our-mentors/mia1.jpg 1x, ./img/our-mentors/mia2.jpg 2x" alt="mia dubrovska"
                    width="180" />
                <div class="our-mentors-info">
                    <h3 class="our-mentors-item-title">Mia Dubrovska</h3>
                    <p class="our-mentors-item-text">2.0 years of experience</p>
                </div>
            </li>

            <li class="our-mentors-card">
                <img class="our-mentors-photo" src="./img/our-mentors/eliot1.jpg"
                    srcset="./img/our-mentors/eliot1.jpg 1x, ./img/our-mentors/eliot2.jpg 2x" alt="eliot kovalev"
                    width="180" />
                <div class="our-mentors-info">
                    <h3 class="our-mentors-item-title">Eliot Kovalev</h3>
                    <p class="our-mentors-item-text">4.0 years of experience</p>
                </div>
            </li>
        </ul>
</section>