<section id="reviews-section" class="section">
  <div class="container">
    <h2 class="reviews-subtitle">Reviews</h2>
    <ul class="reviwes-list">
      <li class="reviwes-item">
        <div class="reviwes-container">
          <div class="reviwes-container-person">
            <img
              class="reviwes-img"
              src="./img/img-reviews/abrahamx2.jpg"
              alt="reviwer"
              width="56"
              height="56"
            />
            <div class="reviwes-container-sidebar">
              <h3 class="reviwes-person">Abraham Baker</h3>
              <p class="reviwes-status">Student</p>
            </div>
          </div>

          <ul class="reviwes-stars">
            <li class="reviwes-stars-item">
              <svg class="reviwes-stars-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="reviwes-stars-item">
              <svg class="reviwes-stars-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="reviwes-stars-item">
              <svg class="reviwes-stars-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="reviwes-stars-item">
              <svg class="reviwes-stars-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="reviwes-stars-item">
              <svg class="reviwes-stars-icon empty-star" width="20" height="20">
                <use href="./img/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
          </ul>
        </div>
        <p class="reviwes-text">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>
      <li class="reviwes-item invisible">
        <div class="reviwes-container">
          <div class="reviwes-container-person">
            <img
              class="reviwes-img"
              src="./img/img-reviews/amandax2.jpg"
              alt="reviwer"
              width="56"
              height="56"
            />
            <div class="reviwes-container-sidebar">
              <h3 class="reviwes-person">Amanda Lowery</h3>
              <p class="reviwes-status">Student</p>
            </div>
          </div>

          <ul class="reviwes-stars">
            <li class="reviwes-stars-item">
              <svg class="reviwes-stars-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="reviwes-stars-item">
              <svg class="reviwes-stars-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="reviwes-stars-item">
              <svg class="reviwes-stars-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="reviwes-stars-item">
              <svg class="reviwes-stars-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
            <li class="reviwes-stars-item empty-star">
              <svg class="reviwes-stars-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-star-fill"></use>
              </svg>
            </li>
          </ul>
        </div>
        <p class="reviwes-text">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
      </li>
    </ul>
  </div>
</section>
