<section class="sign-up-section">
    <div class="container-section-sign-up">
    <div class="container-sign-up">
        <h2 class="sign-up-first">Sign <span class="sign-up-two">Up</span></h2>
        <p class="sign-up-text">Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.</p>
       
        <form class="sign-up-form">
             <input class="sign-up-form-input" type="text" name="username" placeholder="Enter your name"/>
             <input class="sign-up-form-input" type="text" name="email" placeholder="Enter your email"/>
             <textarea class="sign-up-form-input" name="Message" rows="4" placeholder="Message"></textarea>
             <button class="sign-up-button" type="Send">Send</button>
            </form>
        <p class="sign-up-privacy">By clicking on “Send” button, you agree to our
            <a href="" class="sign-up-link">Privacy Policy</a>, and allow Promodo to use this information for marketing purposes.
        </p>
    </div>
    <div class="sign-up-photobox">
        <div class="sign-up-photopart"></div>
        <div class="sign-up-photo"></div>
    </div>
    </div>
</section>
