.advertisement {
    padding: 0;
    overflow: hidden;
    background-color: #121212;
}

.advertisement-container {
    margin: 0 auto;
    padding: 20px 0 20px 0;
    min-width: 320px;
    display: flex;

}

.advertisement-title {
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    padding: 10px 15px;
    flex-shrink: 0;
    margin: 0;
    white-space: nowrap;
    animation-name: advertisement-title;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

span {
    color: #BEA69E;
}

@keyframes advertisement-title {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


@media (min-width: 375px) {
    .advertisement-container {
        width: 375px;
    }
}

@media (min-width: 768px) {

    .advertisement-container {
        width: 768px;
        padding: 0 24px 0 24px;
    }

    .advertisement-title {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: -0.8px;
    }

    .advertisement {
        margin-bottom: 100px;
    }
}

@media (min-width: 1280px) {

    .advertisement-container {
        width: 1280px;
    }

    .advertisement-title{
        font-size: 59px;
        line-height: 64px;
        letter-spacing: -1.18px;
    }

    .advertisement {
        margin-bottom: 150px;
    }
}