.hero {
}

.hero-container {
  border-radius: 30px;
  background-color: #1d1d1d;
}

.hero-title {
  color: #fff;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
  padding-top: 40px;
  margin-bottom: 20px;
}

.hero-title > span {
  color: #bea69e;
  font-style: italic;
  font-weight: 400;
}

.hero-text {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  margin-bottom: 40px;
}

.hero-wrapper {
  display: flex;
  gap: 40px;
}

.hero-left-wrapper {
}

.hero-list {
}

.hero-item {
}

.hero-list-img {
}

.hero-left-subwrapper {
}

.hero-text-students {
}
.hero-icon-arrow {
}
.hero-right-wrapper {
}
.hero-icon-star {
}
.hero-text-reviews {
}
.hero-text-num {
}
.hero-img {
}
