.mentors {
  background-color: #121212;
}
.mentors-container {
  margin-bottom: 80px;
}
.mentors .mentors-main-title {
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1, 14;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}
.mentors-span {
  color: #bea69e;
}
.mentors-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.mentors .mentors-cards-list .mentors-card {
  min-width: 185px;
  background-color: transparent;
}
.mentors-photo {
  border-radius: 200px;
  background: #e0e0e0;
  max-width: 0 auto;
  margin-bottom: 16px;
}

.mentors .mentors-cards-list .mentors-card .mentors-info .mentors-item-title {
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 4px;
}
.mentors .mentors-cards-list .mentors-card .mentors-info .mentors-item-text {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 375px) {
  .mentors-container {
    max-width: 375px;
    margin-bottom: 80px;
  }
  .mentors .mentors-main-title {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .mentors-container {
    max-width: 768px;
    margin-bottom: 100px;
  }
  .mentors .mentors-main-title {
    margin-bottom: 50px;
  }
  .mentors-cards-list {
    gap: 93px;
    justify-content: center;
  }
  .mentors .mentors-cards-list .mentors-card {
    width: calc (100% - 100px) / 2;
  }
}
@media screen and (min-width: 1280px) {
  .mentors-container {
    max-width: 1120px;
    margin-bottom: 150px;
  }
  .mentors .mentors-main-title {
    margin-bottom: 50px;
  }
  .mentors-cards-list {
    gap: 100px;
  }
  .mentors .mentors-cards-list .mentors-card {
    width: 180px;
  }
}
