
.reviews-subtitle {
    color: #FFF;    
    font-size: 28px;    
    line-height: 1.15; /* 114.286% */
    letter-spacing: -0.04em;  

    margin-bottom: 40px;

}


.reviwes-item {  
    border: 1px solid #FFFFFF33;
    border-radius: 12px;
    padding: 20px;     
}

.reviwes-img {    
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.reviwes-person {
color: #FFF;
font-size: 20px;
line-height: 1.2; /* 120% */


margin-bottom: 4px;
}
.reviwes-status {
color: rgba(255, 255, 255, 0.50);
font-size: 12px;
line-height: 1.4; /* 133.333% */
letter-spacing: -0.24px;

margin-bottom: 10px;

}

.reviwes-container{   
    display: flex;
    align-items: center; 
    gap: 10px;
   




}
.reviwes-stars {
    display: flex;
    align-items: center;
    gap: 4px;           
    margin-bottom: 20px;

    position: relative;
    left: 66px; 
    fill: #BEA69E;   
       
}

.reviwes-stars-icon {
  
    
      

}

.reviwes-stars::lastchild{
    fill: #414141;  
}


.reviwes-text {
    color: #FFF;
    font-size: 14px;  
    line-height: 1.29; /* 128.571% */
    letter-spacing: -0.02em;
    }


.invisible {  
 visibility: hidden;
  position: absolute;
  bottom: 89px;

}



@media screen ( min-width: 375px ) {
    .reviwes-item {
    width: 335px;
    height: 244px;
    } 
    
}

@media ( min-width: 768px ){

    .reviews-subtitle {            
        font-size: 48px;    
        line-height: 1.12;

        margin-bottom: 50px;

    }


    .reviwes-item {
        margin: 104px 32px 0 32px;
        width: 640px;
        height: 196px; 
    }

    .invisible {
        bottom: 360px;  
    }



}


@media ( min-width: 1280px ) {
    .reviwes-list{
        display: flex;
        gap: 20px;
    }


    .invisible {  
        visibility: visible;
         position: unset;
         bottom: 89px;

}


}

@media ( min-width: 1440px ) {

}